<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div id="body" xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:joda="http://www.joda.org/joda/time/tags"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:sec="http://www.springframework.org/security/tags" version="2.0">
	<jsp:directive.page contentType="text/html;charset=UTF-8" />
	<jsp:output omit-xml-declaration="yes" />


	<spring:message code="label_online_order_overview"
		var="labelOnlineOrderOverview" />




	<div class="row">
		<h1>${labelOnlineOrderOverview}</h1>

		<c:if test="${not empty message}">
			<div id="message" class="alert alert-info ${message.type}">${message.message}</div>
		</c:if>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">ONLINE input customer</h3>
				<span class="pull-right">
					<ul class="nav panel-tabs">
					</ul>
				</span>
			</div>
		</div>
		<div class="panel col-md-12">
			<div class="col-md-6">
				<form:form action="${addCustomer}" method="post">
					<spring:url var="submitOrderUrl"
						value="/orderOverview/inputCustomer/${diningTable.id}" />


					<div class="form-group">
						<label for="firstNameCustomer">Voornaam</label> <input type="text"
							class="form-control" name="firstNameCustomer"
							placeholder="Voornaam"></input>
					</div>
					<div class="form-group">
						<label for="secondNameCustomer">Achternaam</label> <input
							type="text" class="form-control" name="secondNameCustomer"
							placeholder="Achternaam"></input>
					</div>
					<div class="form-group">
						<label for="addressCustomer">Adres</label> <input type="text"
							class="form-control" name="addressCustomer" placeholder="Adres"></input>
					</div>

					<div class="form-group">
						<label for="zipCode">Postcode</label> <input type="text"
							class="form-control" name="zipCode" placeholder="Postcode"></input>
					</div>
					<div class="form-group">
						<label for="city">Woonplaats</label> <input type="text"
							class="form-control" name="city" placeholder="Woonplaats"></input>
					</div>
					
					<button type="submit" class="btn btn-primary">Betalen</button>
				</form:form>
			</div>
			<div class="col-md-6">
				<table>
					<tr>
						<td><spring:url var="imageUrl"
								value="/resources/images/pizza_order.jpg" /> <img
							class="" id="menuitemimg"
							src="${imageUrl}" width="250px" /></td>
					</tr>
				</table>
			</div>
		</div>



	</div>
</div>